image: atlassian/default-image:2

definitions:
  services:
    docker:
      memory: 3000
  steps:
    - step: &buildanddeploy
        services:
          - docker
        name: Build and Push image
        script:
          - export BITBUCKET_COMMIT_SHORT=$(echo $BITBUCKET_COMMIT | cut -c1-7)
          - docker build -t $ECR .
          - pipe: atlassian/aws-ecr-push-image:1.4.1
            variables:
              AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
              AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
              AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
              IMAGE_NAME: $ECR
              TAGS: '$BITBUCKET_COMMIT_SHORT $TAG'
          - pipe: atlassian/aws-eks-kubectl-run:2.8.0
            variables:
              AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
              AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
              AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
              CLUSTER_NAME: $EKS_CLUSTER
              KUBECTL_COMMAND: "set image deployment/$SERVICE_NAME $CONTAINER_NAME=749765014535.dkr.ecr.eu-central-1.amazonaws.com/$ECR:$BITBUCKET_COMMIT_SHORT --record -n $NAMESPACE"
pipelines:
  branches:
    develop:
      - parallel:
          - step:
              <<: *buildanddeploy
              name: Dev Eureka
              deployment: Eureka-dev
    master:
      - parallel:
          - step:
              <<: *buildanddeploy
              name: Prod Eureka
              deployment: Eureka-prod